body {
    margin: 0;
    overflow: hidden; 
    background-color: #eee;
}
#puffs {
    width: 148.25px;
    height: 114.5px;
    background-image: url('puffs.png'); 
    background-size: 100% 100%;
    position: absolute;
    top: 50px;
    left: 50px;
}
#platform {
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: black;
  left: 200px;
  top: 600px;
}
