body {
    margin: 0;
    overflow: hidden; 
    background-color: #eee;
}
#puffs {
    width: 32px;
    height: 32px;
    background-image: url('sprite-practice/puffs.png'); 
    background-position: 0 0;
    position: absolute;
    top: 50px;
    left: 50px;/
}
