body {
    margin: 0;
    overflow: hidden; 
    background-color: #eee;
}
#puffs {
    width: 148.25px;
    height: 114.5px;
    background-image: url('puffs.png'); 
    background-size: 100% 100%;
    position: absolute;
    top: 50px;
    left: 50px;
}
#gun {
    width: 150px;
    height: 105px;
    background-image: url('gun.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
}
